@import url("reset.css"); /*可將所有的 CSS 預設值歸零*/

body{
	background-size:50%  ;
	background-repeat:no-repeat ;
	background-position:center;
	background-image:url(a.jpg);
	background-size:cover;
	/*background-color:#D2B48C;*/
	margin-bottom: 120px;

	font-family:Arial,"微軟正黑體";
}
/* ===頁首區=== */

#header{
	position:static;/*fixed*/
	max-width:960px;
	margin:0 auto;/*先上下 後左右 = 置中的縮寫語法*/
}

#header h2{
	display:block; /*可省略*/
	max-width:100%;
	height:300px;
	background-image:url(queena.jpg);
	text-indent:-9999px; /*用法一: 隱藏文字時*/
}

/* ===主選單=== */

#nav{
	width:960px;
	margin:0 auto; /*置中*/
	overflow:hidden; /*可避免此區高度受到 float 浮動設定之影響*/
}

#nav u1{}

#nav li{
	float:left; /*水平排列:要寫在 li 裡*/
}

#nav li a{
	display:block; /*超連結:不能省略這一行*/
	width:160px; /*960px 均分給6個按鈕*/
	height:50px;
	line-height:50px; /*文字高度置中*/
	background-color:#888888;
	font-size:20px;
	color:#FFF;
	letter-spacing:2px;
	text-align:center; /*文字水平置中*/
	text-decoration:none;
}

#nav li a:hover{
	background-color:#D8BFD8;
}

/* ===內容區=== */


#content{
	
	background-repeat:no-repeat ;
	background-position:center;
	background-size:100% 100%;
	background-color:#000000;
	height:auto;
	width:960px; /*不必預設高度 用文字段落去調整高度即可*/
	margin:0 auto;
	
	/*background-image:url(123.jpg);*/
	/*color:#666666;*/
	/*clear:both;*/ /*解除浮動*/
	/*background-color:#FFE4B5;*/
	/*padding-top:30px;*/ /*內容區與上方選單區之間的間隔設定*/
	/*padding-bottom:30px;*/ /*內容區與下方頁尾區之間的間隔設定*/
	
}

#content p{
	
	text-indent:50px; /*用法二:文字段落的縮排時*/
	font-size:15px;
	color:#FFFF;
	line-height:1.7;
	padding:0 30px; /*左右各留 30px 縮排上視覺較舒服*/
	padding-bottom:15px; /*不同段落之間做區隔*/
}

#teach {
	/*position:relative;
	top:20px;
    left:-600px;*/ /*94 95 為靠左對齊*/
	/*background-repeat:no-repeat ;
	background-position:center;
	background-size:100% 100%;
	background-color:#000000;
	background-image:url(left.jpg);
	height:500;
	width:200;*/ /*不必預設高度 用文字段落去調整高度即可*/
	/*margin:0 auto;*/
	
	position: fixed;  /*固定在網頁上不隨卷軸移動absolute，若要隨卷軸移動用fixed*/
    top: 50%;  /*設置垂直位置*/
    left: -55px;  /*設置水平位置，依所放的內容多寡需要自行手動調整*/
    background: #ffffff;  /*背景顏色*/
    padding: 10px 20px;
    border-radius: 10px;  /*圓角*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}
#teach:hover{  /*當滑鼠移至此區塊時，伸縮區塊*/
    left: -5px;
}
#teach title{
    padding-left: 5px;  /*讓標題與連結中間有空隙*/
}


/* ===頁尾區=== */

#footer{
	position:static;/*fixed static*/
	bottom:0;
	right:0;
	left:0;
	max-width:960px; /*不必預設高度 可利用下方的 h2 行高做調整*/
	margin:0 auto;
	background-color:#FF77FF;
}
#footer h6{
	font-size:15px;
	text-align:center;
	line-height:30px;
	color:#666666;
}
